.bottom-sheet-dialog{
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.bottom-sheet-dialog .card{
  background: #f5741d;
  color: white;
  margin: 10px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background: #f5741d !important;
  border: #f5741d !important;
}
