:root {
  --text-color: #7f7f90;
}

.bottom-sheet-dialog{
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.bottom-sheet-dialog .card{
  background: #f5741d;
  color: white;
  margin: 10px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background: #f5741d !important;
  border: #f5741d !important;
}

.menu-header {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  text-transform: uppercase;
}

.item-name{
  font-size: 18px;
  font-weight: bold;
}

.item-description{
  color: var(--text-color);
}

.item-price{
  font-size: 20px;
  color: red;
  font-weight: bold;
}
